:root {
  --h3-color: #00669a;
  --color--black: #000000;
  --Ded-Size: "Noto Sans", sans-serif;
  --H2-font: "Ubuntu", sans-serif;
  --header-color: #002e60;
  --hover--color: #c39a00;
  --color-white: #fff;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
}
.container {
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
  padding-left: 15%;
  margin: auto;
}
header {
  background-color: var(--header-color);
  color: aliceblue;
  display: flex;
  margin: auto;
  border-bottom: 2px solid var(--hover--color);
  width: 100%;
  text-align: center;
  justify-content: center;
  position: fixed;
}
header * {
  text-align: center;
  display: inline;
}
header ul {
  display: flex;
  margin: auto;
  padding-right: 20%;
  padding-inline-start: 0;
}

header li {
  margin: 10px;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
}
header li a {
  padding: 10px;
  color: aliceblue;
  text-decoration: none;
}
header li a:hover {
  color: var(--hover--color);
}
.logo img {
  height: 70px;
  width: 100%;
  padding-left: 250%;
}
.logo {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

/* Main */
.portraitZorig {
  width: 100%;
}
.section_Core {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
h3 {
  color: var(--h3-color);
  font-family: var(--Ded-Size);
  margin-left: -2rem;
  font-size: 0.9rem;
}
h2 {
  margin-left: -2rem;
  font-family: var(--H2-font);
  font-size: 1.1rem;
}
.section_subCore {
  padding-top: 10%;
}
.medium {
  display: flex;
  margin-top: 10%;
  /* padding-top: 10%;
  padding-left: 6%;
  padding-right: 6%; */
  /* flex-wrap: wrap; */
  width: 100%;
}
.medium_gap {
  gap: 10%;
}
.scholarshipCount {
  font-size: 2.5rem;
  font-family: "Pass through";
}
.line {
  position: relative;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--header-color);
}
/* .line::before {
  content: "";
  position: absolute;
  height: 0.1vh;
  color: var(--header-color);
  background-color: var(--header-color);
  bottom: -0.5rem;
  width: 100%;
  left: 0;
} */
/* Түүх */
.dot {
  position: relative;
  margin-top: -5px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background: #393c40;
  outline: 5px solid rgba(57, 60, 64, 0.25);
  cursor: pointer;
}
.dot:hover {
  background: #3e8ae8;
  outline: 5px solid rgba(143, 216, 242, 0.87);
}
.margin-negative {
  padding-left: 7rem;
  padding-right: 7rem;
}
.history_content {
  height: 200px;
  width: 100%;
  background-color: #00669a;
  margin-top: 2rem;
}
.top-section {
  margin-bottom: 2rem;
}
.history {
  display: flex;
  position: relative;
  height: 1vh;
  border-top: 0.2vh dashed var(--color--black);
  justify-content: space-between;
  width: 100%;
}
.history_content .content {
  display: none;
}
.year-bot,
.year-top {
  position: absolute;
  left: -0.7rem;
}
.year-bot {
  top: 1.2rem;
}
.year-top {
  bottom: 1.2rem;
}
/* ҮЙЛ АЖМЛЛАГАА */
.tvxlK {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
}
.emns_ {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  box-sizing: border-box;
}
._1VvQx {
  margin-top: 1rem;
  /* margin-bottom: 16px; */
  color: #212b36;
  font-size: 1.2rem;
  line-height: 1.5;
}
.pngS {
  width: 30%;
}
/* МАНАЙ БАГ */
.team {
  display: flex;
  gap: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.card {
  height: 400px;
  background: #00669a;
  flex: 1;
  transition: 0.6s;
  background-size: cover;
}
.card:hover {
  flex: 3;
}
/* Footer */
li {
  list-style: none;
}
.footer-main {
  width: 100%;
  background-color: #002e60;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-just-spa-even {
  justify-content: space-evenly;
}
.margin-top-4rem {
  margin-top: 4rem;
}
.grid {
  display: grid;
}
.gap-1 {
  gap: 1rem;
}
.color-white {
  color: var(--color-white);
}
.margin-negative-0 {
  margin-left: 0;
}
.border-bottom {
  border-bottom: 1px solid var(--color-white);
}
a {
  text-decoration: none;
}
.padding-bottom-1rem {
  padding-bottom: 0.5rem;
}
i {
  color: var(--color-white);
}
.icons {
  padding: 3rem 7% 3rem 7%;
}
@media only screen and (max-width: 1080px) {
  .tvxlK {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .tvxlK {
    grid-template-columns: repeat(1, 1fr);
  }
}
