:root {
  --h3-color: #00669a;
  --color--black: #000000;
  --Ded-Size: "Noto Sans", sans-serif;
  --H2-font: "Ubuntu", sans-serif;
  --header-color: #002e60;
  --hover--color: #c39a00;
  --color-white: #fff;
  --color--on-dardag: rgba(143, 216, 242, 0.87);
  --color--chiglel: #212b36;
  --color--toggle: #0d2e52;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
}
.container {
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
  padding-left: 15%;
  margin: auto;
}

header {
  background-color: var(--header-color);
  color: aliceblue;
  display: flex;
  margin: auto;
  border-bottom: 2px solid var(--hover--color);
  width: 100%;
  text-align: center;
  justify-content: center;
  position: fixed;
}
header * {
  text-align: center;
  display: inline;
}
header ul {
  display: flex;
  margin: auto;
  padding-right: 20%;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
}
header li {
  margin: 10px;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
}
header li a {
  padding: 10px;
  color: aliceblue;
}
header li a:hover {
  color: var(--hover--color);
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.logo img {
  height: 70px;
  width: 100%;
  margin: 0.5rem;
}
.logo {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}
header p {
  display: none;
  margin: 1.5rem 1.5rem 1.5rem 2rem;
}

/* Main */
.portraitZorig {
  width: 100%;
}
.section_Core {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
h3 {
  color: var(--h3-color);
  font-family: var(--Ded-Size);
  margin-left: -2rem;
  font-size: 0.9rem;
}
h2 {
  margin-left: -2rem;
  font-family: var(--H2-font);
  font-size: 1.1rem;
}
h4 {
  font-family: var(--H2-font);
  font-size: 1.1rem;
  width: 100%;
}
.section_subCore {
  /* padding-top: 8%; */
  padding-bottom: 8%;
}
.medium {
  display: flex;
  margin-top: 10%;
  gap: 10%;
  margin-bottom: 10%;
  width: 100%;
  margin-left: 7%;
}

.scholarshipCount {
  font-size: 2.5rem;
  font-family: "Pass through";
}
.line {
  position: relative;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--header-color);
}
/* Түүх */
.team {
  display: flex;
  gap: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.card {
  height: 400px;
  flex: 1;
  transition: 0.6s;
}
.intro {
  display: flex;
  flex-direction: column;
}
.card:hover {
  flex: 3;
  transition: 0.5s ease;
  background-image: none;
}
.inf_common {
  visibility: hidden;
  opacity: 0;
  color: var(--color-white);
}
.card:hover .inf_common {
  opacity: 1;
  visibility: visible;
}
/* Түүхийн он */
.dot {
  position: relative;
  margin-top: -5px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background: #393c40;
  outline: 5px solid rgba(57, 60, 64, 0.25);
  cursor: pointer;
}
.dot:hover {
  background: #3e8ae8;
  outline: 5px solid var(--color--on-dardag);
}
.margin-negative {
  padding-left: 7rem;
  padding-right: 7rem;
}

.top-section {
  margin-bottom: 2rem;
}
.history {
  display: flex;
  position: relative;
  height: 1vh;
  border-top: 0.2vh dashed var(--color--black);
  justify-content: space-between;
  width: 100%;
}

.history_content .content {
  display: none;
  animation: history_moving 0.5s ease;
}
.histor_information {
  text-justify: auto;
}
/* Түүх хэсгийн animation */
@keyframes history_moving {
  from {
    transform: translateX(5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 2;
  }
}
article.content.active {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}
article.history.active {
  background: #3e8ae8;
  outline: 5px solid var(--color--on-dardag);
}

.years {
  /* position: absolute; active үед алдаа зааж байсан*/
  margin-left: -0.7rem;
  margin-top: 3rem;
}

/* ҮЙЛ АЖМЛЛАГАА */
.tvxlK {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
}
.emns_ {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  box-sizing: border-box;
}
._1VvQx {
  margin-top: 1rem;
  color: var(--color--chiglel);
  font-size: 1rem;
  line-height: 1.5;
}
.pngS {
  width: 20%;
}
/* МАНАЙ БАГ */

/* Footer */
li {
  list-style: none;
}
.footer-main {
  width: 100%;
  background-color: #002e60;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-just-spa-even {
  justify-content: space-evenly;
}
.margin-top-4rem {
  margin-top: 4rem;
}
.grid {
  display: grid;
}
.gap-1 {
  gap: 1rem;
}
.color-white {
  color: var(--color-white);
}
.margin-negative-0 {
  margin-left: 0;
}
.border-bottom {
  border-bottom: 1px solid var(--color-white);
}
a {
  text-decoration: none;
}
.padding-bottom-1rem {
  padding-bottom: 0.5rem;
}

i {
  color: var(--color-white);
}
.icons {
  padding: 3rem 7% 3rem 7%;
}
@media only screen and (max-width: 1080px) {
  .tvxlK {
    grid-template-columns: repeat(2, 1fr);
  }
  .medium {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 800px) {
  /* Header css */
  .toggle-button {
    display: flex;
  }
  header {
    width: 100%;
    flex-direction: column;
  }
  .logo {
    display: none;
  }
  header p {
    display: flex;
  }
  header ul {
    display: none;
  }
  header ul li {
    font-size: 1rem;
  }
  header ul.active {
    display: flex;
    background-color: var(--color--toggle);
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid var(--hover--color);
  }
  /* Mdhgue  */
  .content {
    display: flex;
    flex-direction: column;
  }
  .responsiveUyed {
    margin-left: 35%;
    margin-right: 35%;
  }
}
@media only screen and (max-width: 600px) {
  .tvxlK {
    grid-template-columns: repeat(1, 1fr);
  }
  .medium {
    margin-left: 0%;
    flex-direction: column;
  }
  .line {
    font-size: 1rem;
    margin-bottom: 10%;
  }
  .medium-1 {
    width: 73%;
  }
  .team {
    display: grid;
  }
  .card {
    width: 100%;
  }
  .history {
    height: 100%;
    flex-direction: column;
    width: 10%;
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
  }

  .ballon_history {
    display: flex;
  }
  .responsiveUyed {
    margin-left: 30%;
    margin-right: 30%;
  }
}
