:root {
    --h3-color: #00669a;
    --color--black: #000000;
    --Ded-Size: "Noto Sans", sans-serif;
    --H2-font: "Ubuntu", sans-serif;
    --header-color: #002e60;
    --hover--color: #c39a00;
  }
  body {
    margin: 0;
    padding: 0;
    display: grid;
  }

  header {
    background-color: var(--header-color);
    color: aliceblue;
    display: flex;
    margin: auto;
    border-bottom: 2px solid var(--hover--color);
    width: 100%;
    text-align: center;
    justify-content: center;
    position: fixed;
  }
  header * {
    text-align: center;
    display: inline;
  }
  header ul {
    display: flex;
    margin: auto;
    padding-right: 20%;
    padding-inline-start: 0;
  }
  header li {
    margin: 10px;
    font-size: 0.75rem;
    font-family: "Roboto", sans-serif;
  }
  header li a {
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
  }
  header li a:hover {
    color: var(--hover--color);
  }
  .logo img {
    height: 70px;
    width: 100%;
    padding-left: 250%;
  }
  .logo {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
  }
main{
    padding-top: 7%;
    
}
ul.back{
    display: flex;
    gap: 5%;
}
.container{
    display: flex;
    padding-left: 5%;
    gap: 5%;
}

.detail{
  border-style: cornered; 
  border-width: 2px;
  margin-bottom: 5%; 
  box-shadow: 2px 2px 2px #00000040;
  border-top-style: solid;
  border-top-color: #c39a00;
  text-align: center;
  width: 30%;
}
.detail section{
    display: flex;
    margin: auto;
    gap: 5%;
    padding-left: 10%;
}
.aside div{
    border-style: solid;
    border-color: #000000;
}
#side{
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}