:root {
  --h3-color: #00669a;
  --color--black: #000000;
  --Ded-Size: "Noto Sans", sans-serif;
  --H2-font: "Ubuntu", sans-serif;
  --header-color: #002e60;
  --hover--color: #c39a00;
  --color-white: #fff;
  --color--on-dardag: rgba(98, 99, 99, 0.87);
  --color--chiglel: #212b36;
  --color--toggle: #0d2e52;
  --color--main: #073362;
  --color--gold: rgba(195, 154, 0, 255);
  --color--footer-bc: #01162c;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
}
/* CSS */

button {
  align-items: center;
  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* .container {
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
  padding-left: 15%;
  margin: auto;
<<<<<<< HEAD
}
=======
} */
p {
  font-size: small;
  line-height: 1.5;
}
header {
  background-color: var(--header-color);
  color: aliceblue;
  display: flex;
  margin: auto;
  border-bottom: 2px solid var(--hover--color);
  width: 100%;
  text-align: center;
  justify-content: center;
  position: fixed;
}
header * {
  text-align: center;
  display: inline;
}
header ul {
  display: flex;
  margin: auto;
  padding-right: 20%;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
}
header li {
  margin: 10px;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

header li a {
  padding: 10px;
  color: aliceblue;
}
header li a:hover {
  color: var(--hover--color);
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.logo img {
  height: 70px;
  width: 100%;
  margin: 0.5rem;
}
.logo {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}
header p {
  display: none;
  margin: 1.5rem 1.5rem 1.5rem 2rem;
}

/* Main */
.donate {
  padding-top: 5%;
  display: flex;
  background-color: #efefef;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}
img.zurag {
  width: 50%;
  padding: 5%;
}
.aside {
  padding-top: 5%;
  padding-right: 5%;
}
.action {
  display: flex;
}
main {
  display: grid;
}
.benefit {
  padding-left: 5%;
  padding-top: 5%;
}

@media (max-width: 800px) {
  /* Header */
  .toggle-button {
    display: flex;
  }
  header {
    width: 100%;
    flex-direction: column;
  }
  .logo {
    display: none;
  }
  header p {
    display: flex;
  }
  header ul {
    display: none;
  }
  header ul li {
    font-size: 1rem;
  }
  header ul.active {
    display: flex;
    background-color: var(--color--toggle);
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid var(--hover--color);
  }
}

/* Footer */
.responsiveUyed {
  margin-left: 35%;
  margin-right: 35%;
}
/* Main */

.homepicture img {
  width: 100%;
}
.welcome {
  width: 50%;
  margin: 10% 1% 5% 15%;
}

.donate {
  padding-top: 5%;
  display: flex;
  background-color: #efefef;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}
img.zurag {
  width: 43%;
  padding: 5%;
}
.aside {
  padding-top: 5%;
  padding-right: 5%;
}
.action {
  display: flex;
}
main {
  font-family: "Mulish", sans-serif;
  display: grid;
}
.benefit {
  padding-left: 5%;
  padding-top: 5%;
}

.begin {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
h3 {
  color: var(--h3-color);
  font-family: var(--Ded-Size);
  margin-left: -32px;
  font-size: 14.5px;
}
h2 {
  margin-left: -32px;
  font-family: var(--H2-font);
  font-size: 18px;
}
.toonutga {
  font-size: 40px;
  font-family: Worksans;
}
.line {
  position: relative;
  font-size: 13px;
  border-bottom: 1px solid var(--header-color);
}
.toonuzuulelt {
  display: flex;
  margin-top: 10%;
}
.uzuulelt {
  padding: 40px;
}
.garchig {
  padding-top: 80px;
}

li {
  list-style: none;
}
.footer-main {
  width: 100%;
  background-color: var(--color--footer-bc);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-just-spa-even {
  justify-content: space-evenly;
}
.margin-top-4rem {
  margin-top: 4rem;
}
.grid {
  display: grid;
}
.gap-1 {
  gap: 1rem;
}
.color-white {
  color: var(--color-white);
}
.margin-negative-0 {
  margin-left: 0;
}
.border-bottom {
  border-bottom: 1px solid var(--hover--color);
}
a {
  text-decoration: none;
}
.padding-bottom-1rem {
  padding-bottom: 0.5rem;
}

.icons {
  padding: 3rem 7% 3rem 7%;
}

li {
  list-style: none;
}
.footer-main {
  width: 100%;
  background-color: var(--color--footer-bc);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-just-spa-even {
  justify-content: space-evenly;
}
.margin-top-4rem {
  margin-top: 4rem;
}
.grid {
  display: grid;
}
.gap-1 {
  gap: 1rem;
}
.color-white {
  color: var(--color-white);
}
.margin-negative-0 {
  margin-left: 0;
}
.border-bottom {
  border-bottom: 1px solid var(--hover--color);
}
a {
  text-decoration: none;
}
.padding-bottom-1rem {
  padding-bottom: 0.5rem;
}

i {
  color: var(--color-white);
}
.icons {
  padding: 3rem 7% 3rem 7%;
}
@media only screen and (max-width: 1080px) {
  .tvxlK {
    grid-template-columns: repeat(2, 1fr);
  }
  .medium {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 800px) {
  /* Header css */
  .toggle-button {
    display: flex;
  }
  header {
    width: 100%;
    flex-direction: column;
  }
  .logo {
    display: none;
  }
  header p {
    display: flex;
  }
  header ul {
    display: none;
  }
  header ul li {
    font-size: 1rem;
  }
  header ul.active {
    display: flex;
    background-color: var(--color--toggle);
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid var(--hover--color);
  }
  /* Mdhgue  */
  .content {
    display: flex;
    flex-direction: column;
  }
  .responsiveUyed {
    margin-left: 35%;
    margin-right: 35%;
  }
}
