body{
    margin: 0;
    padding: 0; 
    display: grid;
    text-align: center;
}
.container  {  
    background-size: cover;  
    font-family: sans-serif;  
    text-align: center;
    padding-left: 15%;
    margin: auto;
}  
header {  
    background-color: #002e60;   
    color: aliceblue; 
    display: flex;
    margin: auto;
    border-bottom: 2px solid #c39a00;
    width: 100%;
    text-align: center;
    justify-content: center;
    position: fixed;
}  
header * {  
    text-align: center;
    display: inline;  
} 
header ul{
    display: flex;
    margin: auto;
    padding-right: 20%;
    padding-inline-start: 0;
 }
header li {  
    margin: 10px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}  
header li a {  
    padding: 10px; 
    color: aliceblue; 
    text-decoration: none;  
} 
header li a:hover{
    color:#c39a00;
} 
.logo img{
    height: 70px;
    width: 100%;
    padding-left: 250%;
}
.logo{
    display: flex; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}
.container{
    background-color: #073362;
    display: flex;
    gap: 5%;
    padding-top: 5%;
}
.homepicture img{
    width: 100%;
  
}
.welcome{
    padding-left: 0%;
    padding-top: 5%;
}
.welcome h1{
    color: aliceblue;
    font-family: 'roboto', sans-serif;
}
button {
    top:50%;
    background-color:rgba(195,154,0,255);
    color: #fff;
    border:none;
    border-radius:10px;
    width: 200px;
}
.welcome section{
    display: flex;
    gap: 10%;
    padding-top: 30%;
}
button p{
    font-family: 'Source Serif Pro', serif;
}
.quote{
    font-family: 'Source Serif Pro', serif;
    color:rgba(195,154,0,255);
    background-color: aliceblue;
}
