:root {
  --h3-color: #00669a;
  --color--black: #000000;
  --Ded-Size: "Noto Sans", sans-serif;
  --H2-font: "Ubuntu", sans-serif;
  --header-color: #002e60;
  --hover--color: #c39a00;
  --color-white: #fff;
  --color--on-dardag: rgba(143, 216, 242, 0.87);
  --color--chiglel: #212b36;
  --color--toggle: #0d2e52;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
}
.container {
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
  padding-left: 15%;
  margin: auto;
}

header {
  background-color: var(--header-color);
  color: aliceblue;
  display: flex;
  margin: auto;
  border-bottom: 2px solid var(--hover--color);
  width: 100%;
  text-align: center;
  justify-content: center;
  position: fixed;
}
header * {
  text-align: center;
  display: inline;
}
header ul {
  display: flex;
  margin: auto;
  padding-right: 20%;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
}
header li {
  margin: 10px;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
}
header li a {
  padding: 10px;
  color: aliceblue;
}
header li a:hover {
  color: var(--hover--color);
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.logo img {
  height: 70px;
  width: 100%;
  margin: 0.5rem;
}
.logo {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}
header p {
  display: none;
  margin: 1.5rem 1.5rem 1.5rem 2rem;
}

/* Main */
.container {
  background-color: #073362;
  display: flex;
  gap: 5%;
  padding-top: 5%;
}
.homepicture img {
  width: 100%;
}
.welcome {
  padding-left: 0%;
  padding-top: 5%;
}
.welcome h1 {
  color: aliceblue;
  font-family: "roboto", sans-serif;
}
button {
  top: 50%;
  background-color: rgba(195, 154, 0, 255);
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 200px;
}
.welcome section {
  display: flex;
  gap: 10%;
  padding-top: 30%;
}
button p {
  font-family: "Source Serif Pro", serif;
}
.quote {
  font-family: "Source Serif Pro", serif;
  color: rgba(195, 154, 0, 255);
  background-color: aliceblue;
}
@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }
  header {
    width: 100%;
    flex-direction: column;
  }
  .logo {
    display: none;
  }
  header p {
    display: flex;
  }
  header ul {
    display: none;
  }
  header ul li {
    font-size: 1rem;
  }
  header ul.active {
    display: flex;
    background-color: var(--color--toggle);
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid var(--hover--color);
  }
}
