:root {
  --h3-color: #00669a;
  --color--black: #000000;
  --Ded-Size: "Noto Sans", sans-serif;
  --H2-font: "Ubuntu", sans-serif;
  --header-color: #002e60;
  --hover--color: #c39a00;
  --color-white: #fff;
  --color--on-dardag: rgba(143, 216, 242, 0.87);
  --color--chiglel: #212b36;
  --color--toggle: #0d2e52;
  --color--main: #073362;
  --color--gold: rgba(195, 154, 0, 255);
  --color--footer-bc: #01162c;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  /* text-align: center; */
}

header {
  background-color: #002e60;
  color: aliceblue;
  display: flex;
  margin: auto;
  border-bottom: 2px solid #c39a00;
  width: 100%;
  text-align: center;
  justify-content: center;
  position: fixed;
}
header * {
  text-align: center;
  display: inline;
}
header ul {
  display: flex;
  margin: auto;
  padding-right: 20%;
  padding-inline-start: 0;
}
header li {
  margin: 10px;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
}
header li a {
  padding: 10px;

  color: aliceblue;
  text-decoration: none;
}
header li a:hover {
  color: #c39a00;
}
.logo img {
  height: 70px;
  width: 100%;
  padding-left: 250%;
}
.logo {
  display: flex;

  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

program-list {
  display: flex;
  flex-direction: row;
  padding-top: 8%;
  margin: auto;
}

/* Footer */
li {
  list-style: none;
}
.footer-main {
  width: 100%;
  background-color: var(--color--footer-bc);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-just-spa-even {
  justify-content: space-evenly;
}
.margin-top-4rem {
  margin-top: 4rem;
}
.grid {
  display: grid;
}
.gap-1 {
  gap: 1rem;
}
.color-white {
  color: var(--color-white);
}
.margin-negative-0 {
  margin-left: 0;
}
.border-bottom {
  border-bottom: 1px solid var(--hover--color);
}
a {
  text-decoration: none;
}
.padding-bottom-1rem {
  padding-bottom: 0.5rem;
}

i {
  color: var(--color-white);
}
.icons {
  padding: 3rem 7% 3rem 7%;
}
@media (max-width: 800px) {
  .responsiveUyed {
    margin-left: 35%;
    margin-right: 35%;
  }
}
@media (max-width: 600px) {
  .responsiveUyed {
    margin-left: 30%;
    margin-right: 30%;
  }
}
