:root {
  --h3-color: #00669a;
  --color--black: #000000;
  --Ded-Size: "Noto Sans", sans-serif;
  --H2-font: "Ubuntu", sans-serif;
  --header-color: #002e60;
  --hover--color: #c39a00;
  --color-white: #fff;
  --color--on-dardag: rgba(143, 216, 242, 0.87);
  --color--chiglel: #212b36;
  --color--toggle: #0d2e52;
  --color--main: #073362;
  --color--gold: rgba(195, 154, 0, 255);
  --color--footer-bc: #01162c;
  --color--hover-inf: #37306b;
  --font-fml--main: "Mulish", sans-serif;
  --font-fml--roboto: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: var(--header-color);
  color: aliceblue;
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  justify-content: center;
  position: fixed;
}
header * {
  text-align: center;
  display: inline;
}
header nav {
  display: flex;
  margin: auto;
  padding-right: 20%;
  padding-inline-start: 0;
}
header p {
  font-style: italic;
}
a {
  text-decoration: none;
}
header nav ul li {
  margin: 10px;
  font-size: 1rem;
  font-family: var(--font-fml--roboto);
}

header nav ul li a {
  padding: 10px;
  color: aliceblue;
}
header nav ul li a:hover {
  color: var(--hover--color);
}
.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.logo img {
  height: 70px;
  width: 100%;
  margin: 0.5rem;
}
.logo {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}
header p {
  display: none;
  margin: 1.5rem 1.5rem 1.5rem 2rem;
}
/* Search */
form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 30px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #6b6b6b;
}

button[type="submit"] {
  width: 100px;
  padding: 10px;

  margin: 0;
  background-color: var(--color--toggle);
  border: 1px solid transparent;
  border-radius: inherit;
  cursor: pointer;
  opacity: 0.7;
  color: var(--color-white);
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #103652;
  border-color: #103652;
  outline: none;
}

form.submit {
  border: none;
  padding: 0;
  margin-left: 12%;
  width: 47%;
  gap: 1rem;
}
input {
  background-color: var(--color-white);
}
input.submit {
  border: 1px solid #555;
  width: 100%;

  padding: 9px 4px 9px 40px;
  background: var(--color-white)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
/* Footer */
li {
  list-style: none;
}
.footer-main {
  width: 100%;
  background-color: var(--color--footer-bc);
}
.hover:hover {
  color: var(--hover--color);
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-just-spa-even {
  justify-content: space-evenly;
}
.margin-top-4rem {
  margin-top: 4rem;
}
.grid {
  display: grid;
}
.gap-1 {
  gap: 1rem;
}
.color-white {
  color: var(--color-white);
}
.margin-negative-0 {
  margin-left: 0;
}
.border-bottom {
  border-bottom: 1px solid var(--hover--color);
}
a {
  text-decoration: none;
}
.padding-bottom-1rem {
  padding-bottom: 0.5rem;
}

i {
  color: var(--color-white);
}
.icons {
  padding: 3rem 7% 3rem 7%;
}
@media (max-width: 800px) {
  .responsiveUyed {
    margin-left: 35%;
    margin-right: 35%;
  }
  /* Header */
  .toggle-button {
    display: flex;
  }
  header {
    width: 100%;
    flex-direction: column;
  }
  .logo {
    display: none;
  }
  header p {
    display: flex;
  }
  header ul {
    display: none;
  }
  header ul li {
    font-size: 1rem;
  }
  header ul.active {
    display: flex;
    background-color: var(--color--toggle);
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid var(--hover--color);
  }
}
@media (max-width: 600px) {
  .responsiveUyed {
    margin-left: 30%;
    margin-right: 30%;
  }
  .search-box {
    padding-top: 20%;
  }
}
@media (max-width: 1030px) {
  .search-box {
    padding-top: 13%;
  }
}
